body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/**Application**/
span {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #343a40;
}

/**MediaTop**/
.brandText {
  font-weight: 700;
}

/**MediaContet**/
.articleTitle {
  font-size: 80%;
  font-weight: 700;
  margin-right: 7px;
}
.sourceText {
  font-size: 70%;
  font-weight: 550;
  color: #aaa;
}

/**MediaToggler**/
.lastItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggleText {
  color: #aaa;
  font-weight: 550;
}

/**Generally Used**/
.spaceLeft {
  margin-left: 2%;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
