body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/**Application**/
span {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #343a40;
}

/**MediaBoard**/

/**MediaTop**/
.brandText {
  font-weight: 700;
}

/**MediaContent**/
.articleTitle {
  font-size: 80%;
  font-weight: 600;
  margin-right: 8px;
  display: block;
  line-height: 1.3em;
  height: 3.1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sourceText,
.toggleText {
  font-size: 70%;
  font-weight: 550;
  color: #aaa;
}

/**MediaToggler**/
.toggleButton {
  margin-top: -10px;
  margin-left: 10px;
}

/**Generally Used**/
.spaceLeft {
  padding-left: 2%;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
